.container {
  margin-top: 7em;
}

@media screen and (min-width: 398px) {
  .container {
    margin-top: 4em;
  }
}

@media screen and (min-width: 595px) {
  .container {
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 2em;
    margin-top: 2em;
  }

}

@media screen and (min-width: 950px) {
    .container {
    margin-top: 2em;
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }
}