.app-header {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.app-header ul {
  list-style: none;
  display: block;
  align-items: center;
  margin: 0;
  padding: 0 0.5em;
  background-color: #339952;
}

.app-header li a {
  text-decoration: none;
  display: block;
  align-content: flex-end;
  color: white;
  text-align: center;
  padding: 1em 0.4em;
}

.logo-header {
  height: 3em;
}

.app-header a.active{
  color: rgb(163, 226, 37);
}

.app-header-auth {
  display: block;;
  margin-left: auto;
}

@media screen and (min-width: 400px) {
  .app-header ul{
    display: flex;
    padding-bottom: 0.8em;
  }

  .app-header-auth {
    display: flex;
    padding-right: 0;
  }
}

@media screen and (min-width: 595px) {
  .app-header ul{
    padding-left: auto;
    padding: 0;
  }
}

@media screen and (min-width: 950px) {
  .app-header ul {
    padding: 0 8em;
  }
}

@media screen and (min-width: 1200px) {
  .app-header ul {
    padding: 0 13em;
  }
}